<section [ngClass]="themeColor === 'dark' ? 'theme-dark' : 'theme-light'">
  <!-- START: SEARCH BAR WRAPPER -->
  <div class="search-bar-wrapper">
    <!-- START: SEARCH BAR CONTAINER -->
    <div class="search-bar-container">
      <app-search-bar></app-search-bar>
    </div>
    <!-- END: SEARCH BAR CONTAINER -->
    <button (click)="onAddBlogPost()">{{ addBlogPostButton }}</button>
  </div>
  <!-- END: SEARCH BAR WRAPPER -->

  <!-- START: BLOG ITEM WRAPPER -->
  <div class="blog-item-wrapper">
    <app-blog-item></app-blog-item>
  </div>
  <!-- END: BLOG ITEM WRAPPER -->
</section>
