// Import : Variables
@import "../../../theme/scss/variables";

section {
  display: grid;
  justify-content: center;
  height: 100vh;

  .logo-wrapper {
    margin-top: 3.125rem;
  }
  .filters-wrapper {
    align-self: center;
  }
  .sidebar-menu-wrapper {
    margin-bottom: 3.75rem;
    align-self: end;
  }
}
.theme-light {
  background-color: $bg-sidebar-light;
}
.theme-dark {
  color: $font-color-theme-dark;
  background-color: $bg-sidebar-dark;
}
