<section [ngClass]="themeColor === 'dark' ? 'theme-dark' : 'theme-light'">
  <!-- why app-logo-class ? Dont we usually give classnames as container and wrapper or section?  -->
  <div class="app-logo-class">
    <app-logo></app-logo>
  </div>
  <!-- ./app-logo-class-->
  <div class="app-filter-class">
    <app-filters></app-filters>
  </div>
  <!-- ./app-filters-class-->
  <div class="app-sidebar-menu-class">
    <app-sidebar-menu></app-sidebar-menu>
  </div>
  <!-- ./app-sidebar-menu-class-->
</section>
