// Import : Variables
@import "../../../theme/scss/variables.scss";

section {
  display: grid;
  justify-content: center;
  height: 100vh;
// Never assign styles to component tags. use div tags and give styles to them
// Try to use rem in this exerise. 
// Width/Height can also be in %,vh,vw
// Padding and margin would be only in rem
  app-logo {
    margin-top: 50px;
  }
  app-filters {
    align-self: center;
  }
  app-sidebar-menu {
    margin-bottom: 60px;
    align-self: end;
  }
}
.theme-light {
  background-color: #fff;
}
.theme-dark {
  color: #fff;
  background-color: $bg-sidebar-dark;
}
