<section [ngClass]="themeColor === 'dark' ? 'theme-dark' : 'theme-light'">
  <!-- START: LOGO WRAPPER -->
  <div class="logo-wrapper">
    <app-logo></app-logo>
  </div>
  <!-- END: LOGO WRAPPER -->

  <!-- START: FILTERS WRAPPER -->
  <div class="filters-wrapper">
    <app-filters></app-filters>
  </div>
  <!-- END: FILTERS WRAPPER -->

  <!-- START: SIDEBAR MENU WRAPPER -->
  <div class="sidebar-menu-wrapper">
    <app-sidebar-menu></app-sidebar-menu>
  </div>
  <!-- END: SIDEBAR MENU WRAPPER -->
</section>
