<div class="alertbox-wrapper" (click)="onClose()">
  <div
    class="alert-slider alert-box-slider animate__animated"
    [ngClass]="{
      animate__slideInRight: isDisplaying,
      animate__slideOutRight: !isDisplaying
    }"
  >
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur assumenda
      blanditiis commodi laudantium culpa vitae reiciendis similique temporibus
      porro labore. Quae quo ea cum culpa cupiditate. Consectetur, a vero
      repudiandae non eius placeat perferendis magnam dolorem autem amet
      pariatur sapiente maxime consequatur architecto, voluptate molestiae cum
      vel doloribus odit laudantium!
    </p>
  </div>
</div>
<!-- ./ alert-box -->

<!-- ./ alertbox-wrapper -->
