.alertbox-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;

  .alert-slider {
    position: absolute;
    right: 0;
    width: 25%;
    height: 100vh;
    background-color: #fff;
    padding: 50px;

    .border-line-top {
      margin: 30px 0;
      //Colors should be from variables scss file
      border-top: 1px solid rgba(0, 0, 0, 0.08);
    }

    img {
      height: 30%;
      width: 80%;
      margin-bottom: 30px;
    }
    h1 {
      //Im not sure if I understood this. please explain it when we catchup
      font: {
        size: 30px;
        weight: 500;
      }
      text-transform: capitalize;
      margin-bottom: 30px;
    }
    h2 {
      //Font szes/margin/padding in rem
      font-size: 25px;
      margin-bottom: 5px;
    }

    h4,
    p {
      margin-bottom: 5px;
    }

    p + h4 {
      margin-top: 30px;
    }

    ul {
      li {
        padding: 5px 0;
        &:before {
          content: ">";
        }
      }
    }
  }
}

.animate__animated.animate__slideInRight,
.animate__animated.animate__slideOutRight {
  --animate-duration: 0.5s;
}
