.wrapper {
  display: grid;
  grid-template-columns: [sidebar-wrapper] 15% [blog-list-wrapper] 2fr [blog-details-wrapper] 3fr;
  .sidebar-wrapper {
    grid-column: sidebar-wrapper;
    position: fixed;
    width: 15%;
  }
  .blog-list-wrapper {
    grid-column: blog-list-wrapper;
    flex: 2;
  }

  .blog-details-wrapper {
    grid-column: blog-details-wrapper;
    position: fixed;
    width: 51%;
    right: 0;
    flex: 3;
  }
}
// DONE: we never add styles directly to component tags
// DONE: Please add a div or section as parents and add the styling
