$bg-sidebar-dark: #041d2e;
$bg-color-blog-lists: #f5f6fa;
$bg-sliding-overlay-light: #fff;
$bg-sliding-overlay-dark: #010a0e;
$font-default: "IBM Plex Sans", sans-serif;
$font-headings: "Roboto Slab", serif;
